body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    z-index: 1;
}
.sx{
    float: left;
    line-height: 30px;
    vertical-align: middle;
}
.sx::after{
    clear: both;
    display: table;
    content: "";
}
.sx img{
    line-height: 30px;
    vertical-align: middle;
}
.sx ul li, .dx ul li{
    list-style: none;
    font-size: 12px;
    display: inline-block;
    margin: 0 10px;
}
.dx{
    float: right;
    line-height: 30px;
    vertical-align: middle;
}
.dx::after{
    clear: both;
    display: table;
    content: "";
}
ul{
    display: inline-block;
}
.bluebutton{
    background-color: blue;
    color: white;
    font-size: 11px;
    line-height: 20px;
    display: inline-block;
    padding: 0 12px 0 12px;
}
.sfondoblu{
    background-color: rgb(144, 171, 221);
    height: 550px;
    margin-top: 60px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.bloccoalto{
    padding-top: 30px;
    font-size: 30px;
}
.bloccosx{
    width: 35%;
    float: left;
}
.bloccosx::after{
    clear: both;
    display: table;
    content: "";    
}
.try{
    background-color: rgb(27, 105, 223);
    padding: 5px 10px;
    color: cornsilk;
    margin-top: 20px;
    display: inline-block;
}
.annull{
    margin-top: 10px;
}
.fre{
    margin-top: 30px;
    font-size: 35px;
}
.container img{
    float: right;
    width: 65%;
    transform: translate(40px, 0px);
}
.container ::after{
    clear: both;
    display: table;
    content: "";    
}
.allinfo{
    width: 70%;
    margin: 150px auto 0 auto;
}
.allinfo h2{
    font-size: 35px;
}
.tab{
    display: inline-block ;
    width: 30%;
    margin-right: 40px;
    border: 1px solid rgb(226, 225, 225);
    float: left;
    height: 950px;
}
.tab:last-child{
    margin-right: 0;
}
.scelta{
    display: block;
}
.tabella{
    margin-top: 30px;
    margin: 30px auto;
}
.tabella, .restringi, .partnership::after{
    clear: both;
    display: table;
    content: "";    
}
.restringimento{
    width: 80%;
    margin: 0 auto;
}
.intestazione{
    border-bottom: 1px solid rgb(226, 225, 225);
    text-align: center;
    padding-top:5px ;
    padding-bottom:5px;
}
.restringimento div{
    margin: 20px 0;
}
.restringimento div:nth-child(3){
    margin-bottom: 50px;
    color: rgb(170, 165, 165);
    font-size: 13px;
}
.restringimento div:nth-child(7){
    background-color: rgb(56, 123, 224);
    color: whitesmoke;
    padding: 7px 15px;
    text-align: center;
}
.restringimento div:nth-child(8){
    margin-bottom: 60px;
}
.restringimento ul{
    margin-top: 0;
}
.restringimento ul li{
    list-style: none;
    margin-bottom: 15px;
}
.restringimento i{
    margin-right: 3px;
    font-size: 12px;
}
.lasttab{
    width: 100%;
    
}
.ultima{
    border: 1px solid rgb(226, 225, 225);
}


.contienetab{
    border: 1px solid rgb(226, 225, 225);
}
.contienetab{
    margin-top: 30px;
}
.restringi{
    width: 90%;
}
.ufficio{
    font-weight: bold;
}
.contatta{
    background-color: rgb(56, 123, 224);
    padding: 7px 35px;
    color: cornsilk;
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.restringi h3{
    display: inline-block;
    font-size: 25px;
    margin-bottom: 15px;
}
.restringi div:last-child{
    margin-top: 26px;
    margin-bottom: 20px;
}
.partnership{
    width: 100%;
    margin:80px 0 70px 0;
}
.partnership img{
    width: 60%;
    float: left;
}
.testo_associato{
    width: 35%;
    float: right;
}
.testo_associato a{
    text-decoration: none;
    border: 1px solid black;
    padding :7px 15px;
    color: rgb(48, 47, 47);
}
.blocchi{
    width: 33%;
    display: inline-block;
    margin-bottom: 40px;
}
.restringi img{
    width: 100%;
    margin-bottom: 15px;
}
.restringi h3{
    margin-top: 0px;
}
.butt{
    margin-top: 30px;
}